/*#sfWebDebugBar {*/
    /*bottom: 0;*/
/*}*/

select {
    max-width: 800px;
}

.form-group.has-info .input-group .input-group-addon {
    border-right: 1px;
    width: 150px;
    max-width: 150px;
    overflow: hidden;
}
.ace-settings-container {
    top: 0;
}

.tags {
    width: -moz-max-content;
}

.table-striped > tbody > tr.orange_row > td, .table-striped > tbody > tr.orange_row > th {
    background-color: #FFBF66;
}

.table-striped > tbody > tr.gray_row > td, .table-striped > tbody > tr.gray_row > th {
    background-color: #c0c0c0;
}

form.form-horizontal fieldset {
    padding-top: 10px;
}
.typeahead,
.tt-query,
.tt-hint {
    width: 400px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 600px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}



.sidebar:before {
    width: 200px;
}
.sidebar {
    width: 200px;
}
.main-content {
    margin-left: 200px;
}

#sf_admin_container fieldset {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding-bottom: 3px;
}

.boxSizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sf_admin_container th {
    background-color: #F5F5F5;
    white-space: nowrap;
}

#sf_admin_container fieldset h2 {
    background-color: transparent;
    color: #000000;
    font-size: 22px;
    margin: 0;
    padding: 0px;
}

.label-xxlg.arrowed-in-right:after {
    border-width: 28px 14px;
    right: -14px;
}


.label-xxlg.arrowed-in:before {
    border-width: 28px 14px;
    left: -14px;
}

.label-xxlg.arrowed-in-right {
    margin-right: 14px;
}

.label-xxlg.arrowed {
    margin-left: 14px;
}

.label-xxlg.arrowed-in {
    margin-left: 14px;
}

.label-xxlg {
    font-size: 14px;
    height: 56px;
    line-height: 1.3;
    padding: 0.3em 0.7em 0.4em;
}

.label-xxlg.arrowed-right:after {
    border-width: 28px 14px;
    right: -28px;
}

.label-xxlg.arrowed:before {
    border-width: 28px 14px;
    left: -28px;
}

.required {
    color: #D15B47 !important;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

td.sf_admin_boolean {
    text-align: center;
}

body {
    padding: 0px;
}

.ace-settings-box {
    width: auto;
    /*min-width: 400px !important;*/
    /*width: 980px !important;*/
}